.form {
  margin-bottom: 10px;
}

.warning {
  font-size: 30px;
  color: red;
}

.addTodo {
  padding: 8px;
  margin-right: 10px;
}

.btn {
  background-color: #3434e1;
  border: 0;
  border-radius: 7px;
  padding: 10px;
  color: white;
  font-family: lobster;
  font-size: 16px;
}

.btn:hover {
  background-color: white;
  color: #3434e1;
}
